<h2 mat-dialog-title>{{data.mode}} Column</h2>
<mat-dialog-content [formGroup]="form">
  <mat-form-field>
    <input
    matInput
    type="text"
    name="name"
    formControlName="name"
     placeholder="Column Name" >
    <mat-error *ngIf="form.get('name').invalid">Please enter a valid column name.</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Data Type</mat-label>
    <mat-select [(value)]="selectedDataType" name="dataType"
    formControlName="dataType" required (selectionChange)="dataTypeSelected()">
      <mat-option value="Text">Text</mat-option>
      <mat-option value="Num">Num</mat-option>
      <mat-option value="Date">Date</mat-option>
      <mat-option value="Boolean">Boolean</mat-option>
      <mat-option value="DropDownList">DropDownList</mat-option>
    </mat-select>
    <mat-error *ngIf="form.get('dataType').invalid">Please select valid data type.</mat-error>
  </mat-form-field>


  <mat-form-field>
    <input
    matInput
    type="number"
    name="minColumnWidth"
    formControlName="minColumnWidth"
     placeholder="Min Column Width" >
    <mat-error *ngIf="form.get('minColumnWidth').invalid">Please enter a valid min column width.</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input
    matInput
    type="number"
    name="fontSize"
    formControlName="fontSize"
     placeholder="Font Size" >
    <mat-error *ngIf="form.get('fontSize').invalid">Please enter a valid font size.</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input
    matInput
    type="text"
    name="fontColor"
    formControlName="fontColor"
     placeholder="Font Color" >
    <mat-error *ngIf="form.get('fontColor').invalid">Please enter a valid font color.</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input
    matInput
    type="text"
    name="backgroundColor"
    formControlName="backgroundColor"
     placeholder="Background Color" >
    <mat-error *ngIf="form.get('backgroundColor').invalid">Please enter a valid background color.</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input
    matInput
    type="text"
    name="alignment"
    formControlName="alignment"
     placeholder="Alignment" >
    <mat-error *ngIf="form.get('alignment').invalid">Please enter a valid alignment value.</mat-error>
  </mat-form-field>


  <mat-form-field>
    <input
    matInput
    type="text"
    name="defaultValue"
    formControlName="defaultValue"
     placeholder="Default Value" >
    <mat-error *ngIf="form.get('defaultValue').invalid">Please enter a valid default value.</mat-error>
  </mat-form-field>

  <mat-form-field  *ngIf="selectedDataType =='DropDownList'">
    <tr>
      <td>
        <input
        matInput
        [ngModelOptions]="{standalone: true}"
        [(ngModel)]="element"
        type="text"
        name="dropDownValues"
        formControlName="dropDownValues"
        placeholder="Enter Drop Down Values">
      </td>
      <span style="margin-left: 30px;">
      <fa-icon fa-1x icon="plus" class="faIcons add" (click)="addElement()"></fa-icon>
    </span>
      <td>
    </td>
   </tr>
   <table  class="table-element-list">
     <tr *ngFor="let ele of elementList">
       <td>{{ele}}</td>
       <td>
        <fa-icon fa-1x icon="minus" class="faIcons minus" (click)="deleteElement(ele)"></fa-icon>
       </td>
     </tr>
   </table>
  </mat-form-field>
  <span style="padding: 10px; font-size: 14px;">Text Wrap </span>
  <mat-checkbox formControlName="textWrap" [(ngModel)]="textWrap" [checked]="textWrap">
  </mat-checkbox>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="secondary" size="sm" (click)="save()">Save</button>
  <button mat-raised-button color="primary" mat-dialog-close tabindex="-1" (click)="close()">Close</button>
</mat-dialog-actions>
