/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-grids/styles/material.css';
@import '../node_modules/@syncfusion/ej2-treegrid/styles/material.css';

.add-edit-modal {
  font-size: 12px;
}

.cell-text-wrap {
  overflow-wrap: break-word !important;
  text-overflow: clip !important;
  white-space: normal !important;
  word-wrap: break-word !important;
}

/* .e-filterdiv.e-fltrinputdiv {
  display: none;
} */

.e-filterbar {
  display: none;
}

.e-grid td.e-active {
  background: #e0e0e0 !important;
  color: #000;
}

.e-grid tr.e-row-cut-copy td{
  background: pink !important;
  color: #000;
}


/* .e-columnheader .e-headercell.e-mousepointer:nth-child(2) {color: red} */

.e-spin-show,#loader {
  z-index:9999999;
}

.selected-menu-item {
  background-color: lightblue !important;
}

/* .e-grid .e-table {
  width: 100%!important;
  max-width: 1400px!important;
} */

/* .e-grid { */
  /* overflow-y: hidden!important; */
    /* overflow-x: scroll!important; */
    /* width: 1350px!important; */
/* } */
/* .e-gridcontent e-responsive-header {
  overflow: scroll!important;
      width: 1400px;
  }
  
  .e-headercontent {
  overflow: scroll!important;
  } */
